@font-face {
  font-family: 'JFFlat';
  src: url('../fonts/JF-Flat-regular.woff?db3qhl') format('woff'),
  url('../fonts/JF-Flat-regular.eot?db3qhl') format('eot');
  font-weight: normal;
  font-style: normal;
}
